@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {
    
    body {
        background-image: linear-gradient(to top, #78a2e2, #0846a1);
    }
    
    section#login {
        width: 90vw;
        height: 280px;
    }

    section#login > div#imagem {
        float: left;
        width: 30%;
        height: 100%;
    }

    section#login > div#formulario {
        float: right;
        width: 70%;
    }
}

@media screen and (min-width: 992px) {
    
    body {
        background-image: linear-gradient(to top, #78a2e2,#0846a1);
    }

    section#login {
        width: 950px;
        height: 400px;
    }
    
    section#login > div#imagem {
        float: right;
        width: 50%;
        height: 100%;
    }

    section#login > div#formulario {
        float: right;
        width: 50%;
    }

    div#formulario > p {
        font-size: 1em;
        margin: 20px 0px;
    }
}